<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimesTables.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97A9AC871DB26A4500665CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97A9AC9B1DB26A4500665CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97A9ACA61DB26A4500665CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
